[submodule "hypr"]
	path = hypr
	url = git@github.com:mhkarimi1383/hypr.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:mhkarimi1383/kitty.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:mhkarimi1383/nvim
