[submodule "hypr"]
	path = hypr
	url = ../hypr.git
[submodule "kitty"]
	path = kitty
	url = ../kitty.git
[submodule "nvim"]
	path = nvim
	url = ../nvim.git
[submodule "waybar"]
	path = waybar
	url = ../waybar.git
[submodule "fuzzel"]
	path = fuzzel
	url = ../fuzzel.git
[submodule "typewritten"]
	path = typewritten
	url = https://github.com/reobin/typewritten.git
[submodule "dunst"]
	path = dunst
	url = ../dunst.git
[submodule "lsd"]
	path = lsd
	url = ../lsd.git
[submodule "bat"]
	path = bat
	url = ../bat.git
[submodule "tmux"]
	path = tmux
	url = ../tmux.git
[submodule "yazi"]
	path = yazi
	url = https://github.com/catppuccin/yazi.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting.git
[submodule "wlogout"]
	path = wlogout
	url = ../wlogout.git
